{
  "extends": ["airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.lint.json"
  },
  "rules": {
    "@typescript-eslint/semi": ["error", "never"],
    "no-bitwise": "off",
    "class-methods-use-this": "off",
    "no-param-reassign": "off",
    "import/extensions": "off"
  }
}
