* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

.index {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 12px;
}

.main {
  padding: 12px 0;
}

.container {
  flex: 1;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ced4da;
}

.code {
  background: #f1f3f5;
  padding: 12px;
  border-radius: 4px;
}

.notice {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* bootstrap button */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  user-select: none;
  margin-right: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
/* bootstrap button */

.dnd {
  width: 100vw;
  height: 100vh;
}

.viewer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
